*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: 0.5;
}

/* apply a natural box layout model to all elements,
 but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* General styles */
html,
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', Courier, monospace;
    color: #2d2d2d;
}

a:hover {
    color: #b64036 !important;
}

span {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
}

section {
    text-align: center;

}

img {
    max-width: 100%;
    height: auto;
}


/* Header*/
header {
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: white;
    z-index: 200;
}

.logo {
    align-self: flex-start;
    flex-basis: 100px;
    size: 30px;
    max-width: 130px;
}

.cart {
    align-self: flex-start;
    flex-basis: 50px;
}

.nav-list {
    text-align: center;
    text-transform: uppercase;
    align-self: flex-end;
    order: 3;
    padding: 12px 0 0 0;
    margin: 10px 0px;
}

.nav-list ul {
    display: flex;
    justify-content: space-around;

}

.nav-border {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #d7d7d7;
    width: 100%;
}


.nav-list a {
    color: #e2574c;
    font-size: 0.9em;
    text-decoration: none;
}

li.nav-list {
    display: inline;
}

#shopping-number {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 44px;
    left: 11px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

/* Season banner */
.season-banner {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/banner-girl.png) no-repeat center 70px,
        url(../images/flower-bkgd.jpg) repeat-x center top;
    background-size: cover, contain, cover;
    padding: 150px 60px 180px 60px;
    color: white;
    /* margin-top:50px; */
}

.season {
    font-family: 'Playfair Display';
    font-size: 2em;
    min-width: 250px;
    padding: 30px 0 0 0;
    font-weight: 400;
    font-style: normal;
}

.new-collection {
    font-size: 1em;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    width: 100%;
}

/* Hand craft styles */

.hand-crafted {
    height: 260px;
    font-size: 50px;
    font-style: italic;
    padding: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 0.6em;
    align-items: center;
}

.hand-title {
    font-size: 0.7em;
    padding: 20px;
    min-width: 300px;

}

.hand-text {
    font-size: 0.3em;
    font-weight: 100;
    min-width: 300px;
    align-self: center;
}

/* Products navigation */
.products {
    display: flex;
    flex-flow: column wrap;
    color: white;
}

.products-catalogue {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;

}

.products-catalogue li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}

.products-list {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 114px 0;

}

.products-men-women {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 114px 0;
}

.imgmen {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/mens-category.jpg) no-repeat center center;
    background-size: cover;
    border: 5px solid white;
}

.imgtrends {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/trends-category.jpg) no-repeat center center;
    background-size: cover;
    border: 5px solid white;
}

.imgglasses {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/glasses-category.jpg) no-repeat center center;
    background-size: cover;
    border: 5px solid white;
}

.imgsales {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/sale-category.jpg) no-repeat center center;
    background-size: cover;
    border: 5px solid white;
}

.imgbags {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/bags-category.jpg) no-repeat center center;
    background-size: cover;
    border: 5px solid white;
}

.imgwomen {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/womens-category.jpg) no-repeat center center;
    background-size: cover;
    border: 5px solid white;
}

/* Most Loved products */
.carousel-cell {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.loved-products {
    font-size: 2.2em;
    font-style: italic;
    padding: 50px 0;
    width: 95%;
    align-items: center;
}

.catalogue-products {
    font-size: 40px;
    color: #969696;
    margin-bottom: 50px;
}

.catalogue-products p a {
    color: #e2574c;
    text-decoration: none;
    font-size: 1em;
}

.product-cell {
    text-align: center;

}

.product-type {
    font-size: 0.3em;
    text-transform: uppercase;
}

.product-name {
    font-family: 'Playfair Display';
    font-size: 0.5em;
    padding: 20px 0;
    font-style: normal;
}

.price {
    font-size: 15px;
}

/* Signup for updates */
.signup {
    padding: 55px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/wave-bkgd.jpg) no-repeat bottom;
    background-size: cover 1024px 1500px cover;
    color: white;
    margin-bottom: 10px;
}

.signup h2 {
    font-size: 2em;
    padding: 0.5em;
    font-style: italic;
    color: white;
}

.signup p {
    font-size: 1em;
    line-height: 2em;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 100;
}

.email-box {
    border-radius: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 230px;
    max-width: 60%;
    margin: 0 auto;
    height: 40px;
}

.email {
    border: 0px;
    border-radius: 40px;
    padding: 1em;
    margin-left: 1.5em;
    height: 100%;
    align-items: center;
    color: black;
    width: 90%;
    font-size: 1em;
}

.subscribe {
    padding: 0.4em;
    margin: 0.3em;
    border-radius: 40px;
    background-color: #e2574c;
    font-size: 0.9em;
    color: white;
    width: 120px;
}

/* Footer */
footer {
    background-color: #242424;
    color: white;
    padding: 50px;
    font-family: 'Playfair Display';
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
}

.footer-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 200px;
}

.copy-contact {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    line-height: 20px;
}

.info a {
    color: white;
    text-decoration: none;
}


.footer-content p.contact {
    color: #969696;
}

.footer-content ul {
    line-height: 1.5em;
    display: inline-flex;
    align-self: center;
}

footer .footer-content ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-content ul li a i {
    color: white;
    min-width: 25px;
    display: inline-block;
}

.social-media {
    display: none;
}

/* ####################################################################################
From here down only cody for Tablet   ############################ */
/*Tablet*/
@media screen and (min-width: 600px) {

    .carousel-cell {
        width: 50%;
    }

    /* Header*/
    header {
        padding: 15px;
        flex-wrap: nowrap;
    }

    .season {
        font-size: 70px;

    }

    .new-collection {
        font-size: 30px;
        text-transform: uppercase;

    }

    .logo {
        order: 1;
    }

    .cart {
        order: 3;
    }

    .nav-list {
        font-size: 16px;
        align-self: center;
        order: 2;
        margin: 0 0;
        padding-top: 0px;
    }

    .nav-border {
        border: none;
    }

    a {
        color: #e2574c;
        font-size: 16px;
    }

    li.nav-list {
        margin-left: 15px;
    }

    /* Hand craft styles */
    .hand-crafted {
        height: 300px;
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .hand-title {
        font-size: 40px;
    }

    .hand-text {
        font-size: 20px;
    }

    .products-catalogue {
        flex-flow: row nowrap;
    }

    .products-catalogue li a {
        font-size: 40px;
    }

    .products-list {
        flex-basis: 25%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .products-men-women {
        flex-basis: 50%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* Signup for updates */
    .email-box {
        align-items: baseline;
        max-width: 50%;
    }

    .email {
        border: 0px;
        border-radius: 40px;
        padding: 1em;
        margin-left: 1.5em;
        height: 100%;
        align-items: center;
        color: black;
        width: 90%;
        font-size: 1em;
    }

    .subscribe {
        padding: 0.4em;
        margin: 0.3em;
        font-size: 0.9em;
        color: white;
        width: 120px;
    }

    /* Footer */
    footer {
        color: white;
        padding: 50px;
    }

    .footer-content {
        flex-flow: row;
        height: 150px;
    }

    .copy-contact {
        justify-content: space-between;
    }

    p.info a {
        color: white;
    }

    p .copyright {
        line-height: 2em;
    }

    .footer-content p.contact {
        color: #969696;
    }

    .footer-content ul {
        line-height: 1.5em;
        display: block;
    }

    footer .footer-content ul li a {
        color: white;
        text-decoration: none;
    }

    .social-media {
        display: contents;
        font-weight: 100;
        font-family: 'Playfair Display', Courier, monospace;
    }

}

/*end of table section*/


/* ####################################################################################
From here down, code for desktop  ############################ */
@media screen and (min-width: 1240px) {

    .carousel-cell {
        width: 25%;
    }

    /* Headr*/
    header {
        align-items: baseline;
    }

    .nav-border {
        padding: 0;
        margin: 0;
    }

    /* Season banner */
    .season-banner {
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
            url(../images/banner-girl.png) no-repeat center 70px,
            url(../images/flower-bkgd.jpg) repeat-x center top;
        background-size: cover, contain, contain;
        padding: 150px;
        color: white;
    }

    .season {
        font-size: 70px;

    }

    .new-collection {
        font-size: 30px;
        text-transform: uppercase;

    }

    .container {
        margin: 0 auto;
        width: 100%;
    }

    /* Most Loved products */

    .loved-products {
        font-size: 40px;
    }


    .catalogue-products {
        font-size: 40px;
        color: #969696;
        margin-bottom: 50px;
    }

    .catalogue-products p a {
        color: #e2574c;
        text-decoration: none;
        font-size: 1em;
    }

    .product-cell {
        text-align: center;
    }

    .product-type {
        font-size: 15px;
        text-transform: uppercase;
    }

    .product-name {
        font-size: 25px;

    }

    .price {
        font-size: 15px;
    }

    /* Signup for updates */
    .signup {
        padding: 75px;
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
            url(../images/wave-bkgd.jpg) no-repeat bottom;
        background-size: cover 1024px 1500px cover;
        color: white;
    }

    .signup h2 {
        font-size: 2em;
        padding: 0.5em;
        font-style: italic;
        color: white;
    }

    /* 
    .signup p {
        font-size: 1em;
        line-height: 2em;
        max-width: 60%;
        margin: 0 auto;
    } */
    /* 
    .email-box {
        max-width: 50%;
        width: 70%;
    } */

    /* .subscribe {
        padding: 1em;
        margin: 0.3em;
        border-radius: 40px;
        background-color: #e2574c;
        font-size: 1em;
        color: white;
        font-weight: bold
    } */

    email {
        border: 0px;
        border-radius: 40px;
        padding: 1em;
        margin-left: 1.5em;
        height: 100%;
        align-items: center;
        /* background-color: blue; */
        color: black;
        width: 90%;
        font-size: 1em;
    }

    /* Footer */

    .info a {
        color: white;
        text-decoration: none;
    }

    .footer-content p.contact {
        color: #969696;
    }
}

/* added for accessibility */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

}

.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    width: auto;
    z-index: 100000;
    background: lightgray;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border: black solid;
    border-width: 2px;
    border-radius: 45%;
    outline: 0;
}

#main[tabindex="-1"]:focus {
    outline: 0;

}